*{
    margin:  0;
    padding: 0;
    border-radius: 0;
    color: white;
}
@font-face {
    font-family: kawai;
    src: url(/Lemoxyy/calcumy/asset/Kawai\ Animal.otf);
}
body{
    background: black;
}
h1{
    display: flex;
    position: relative;
    font: 14px / 28px D-DIN-Bold, Arial, Verdana, sans-serif;
    top:20px;
}
a{
    display: flex;
    text-decoration: none;
}
h2{
    display: flex;
    position: relative;
    top: 70px;
    left: 2em;
    font-family: kawai;
    font-size: 50px;
    color: #f9a61b;
    text-decoration: none;
}