*{
    margin:  0;
    padding: 0;
    border-radius: 0;
    color: white;
}
* {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  };
  
  button, 
  button:active, 
  button:focus {
    outline: none;
  };
@font-face {
    font-family: kawai;
    src: url(/calcumy/asset/Kawai\ Animal.otf);
}
body{
    background: black;
}
h1{
    display: flex;
    position: relative;
    top:20px;
    left: 0px;
    font-size: 5em;
    letter-spacing: 7px;
    font: 30px / 32px D-DIN-Bold, Arial, Verdana, sans-serif;
}
a{
    display: flex;
    text-decoration: none;
}
h2{
    display: flex;
    position: relative;
    top: 70px;
    left: 2em;
    font-family: kawai;
    font-size: 50px;
    color: #f9a61b;
    text-decoration: none;
}

@media (max-width:768px) {
    button, 
  button:active, 
  button:focus {
    outline: none;
  };
  }