*{
    margin: 0;
    padding: 0;
    border-radius: 0;
    color: white;
}
* {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  };
  
  button, 
  button:active, 
  button:focus {
    outline: none;
  };
body{
    background-color: black;
}
@font-face {
    font-family: kawai;
    src: url(/Lemoxyy/calcumy/asset/Kawai\ Animal.otf);
}
#nav-head{
    font-family: kawai;
    font-size: 50px;
    color: #f9a61b;
}
div{
    position: relative;
    top: 125px;
    align-items: center;
    display: flex;
    justify-content: center;
}
div label{
    font-size: 30px; /* Adjusts the text size of the label */
    padding: 5px;    /* Adds space inside the label */
    margin: 10px;
}
div label input{
    padding: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 300px;
    border-radius: 30px ;
    color: black;
    font-size: 45px;
}

div button{
    position: relative;
    top: 5em;
    padding: 20px 30px 20px 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #f9a61b;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    color: black;
    font-size: 30px;
}